.product {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            width: 100%;
        }
.image {
    text-align: center;
}
.image img {
     max-width: 100%;
            height: auto;
        }
        .info {
            text-align: center;
        }
        .info h3 {
            margin-top: 10px;
        }
        .info-price {
            margin-top: 10px;
        }