{% extends 'base.html' %}

{% block title %}
 <title>про магазин техники</title>
{% endblock %}

{% block body %}
 <body>
 <div class="container">
 <h1>Описание магазина по продаже компьютерной и радиотехники</h1>
  <p>Добро пожаловать в наш магазин, специализирующийся на продаже компьютерной и радиотехники! Мы являемся вашим надежным партнером в мире высокотехнологичных устройств и электроники.</p>

  <h2>Наш ассортимент товаров включает:</h2>
  <ul>
    <li><strong>Компьютеры и ноутбуки:</strong> Мы предлагаем широкий выбор компьютеров и ноутбуков различных брендов, начиная от бюджетных моделей до профессиональных и игровых конфигураций.</li>
    <li><strong>Комплектующие:</strong> У нас вы найдете все необходимое для сборки или апгрейда компьютера: процессоры, материнские платы, видеокарты, оперативную память, жесткие диски и многое другое.</li>
    <li><strong>Периферийные устройства:</strong> Мы предлагаем широкий выбор периферийных устройств, включая мониторы, клавиатуры, мыши, принтеры, сканеры и другие аксессуары.</li>
    <li><strong>Сетевое оборудование:</strong> У нас есть все необходимое для создания надежной сети: маршрутизаторы, коммутаторы, сетевые кабели и адаптеры.</li>
    <li><strong>Радиотехника:</strong> Мы также предлагаем различные радиоэлектронные устройства, включая радиоприемники, радиостанции, антенны и комплектующие.</li>
  </ul>

  <h2>Наши преимущества:</h2>
  <ol>
    <li><strong>Качество:</strong> Мы работаем только с проверенными поставщиками и гарантируем качество всех наших товаров.</li>
    <li><strong>Широкий выбор:</strong> У нас есть огромный выбор товаров, чтобы удовлетворить потребности как профессиональных пользователей, так и обычных потребителей.</li>
    <li><strong>Профессиональный сервис:</strong> Наши квалифицированные специалисты всегда готовы помочь вам выбрать подходящее устройство и ответить на все ваши вопросы.</li>
    <li><strong>Конкурентные цены:</strong> Мы предлагаем конкурентоспособные цены на все наши товары, чтобы сделать вашу покупку максимально выгодной.</li>
  </ol>

  <p>Мы рады приветствовать вас в нашем магазине и помочь вам найти идеальное решение для ваших потребностей в компьютерной и радиотехнике!</p>
 </div>
 </body>
{% endblock %}
