{% extends 'base.html' %}

{% block title %}
 <title>добавление товара</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавление товара</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите название товара"><br>
        <input type="number" name="price" id="price" class="form-control" placeholder="Введите цену товара"><br>
        <input type="text" name="text" id="text" class="form-control" placeholder="Введите описание товара"><br>
        <input type="text" name="image" id="image" class="form-control" placeholder="Вставьте ссылку на изображение"><br>
        <label for="category">Category:</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-success" type="submit">добавить товар</button>
    </form>
</div>
{% endblock %}
